.TrackAnywhere_withQalzyApp_flexMobile {
  display: flex;
  align-items: flex-end; /* Align images to the bottom */
  gap: 13px;
}

.TotalCaloriesWrapper {
  display: flex;
  align-items: flex-end; /* Ensure the image stays at the bottom */
}

.TotalCaloriesMobileScreen {
  height: 778px; /* Adjust the height */
  width: auto;
  object-fit: contain;
}
.GirleScaningFoodImg {
  /* position: absolute; */
  width: 38%;
  z-index: 1;
  height: 50%;
}
.TrackAnywhere_withQalzyApp {
  position: relative;
  background-color: #ffffff;
}
.TrackAnywhere_withQalzyApp_content {
  gap: 3px;
}
.TrackAnywhere_withQalzyApp_flexMobile {
}

.TrackAnyWhere_GreenBgImgContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* qalzy app feature styling */
.qalzy_app_features {
}
.qalzy_app_features .card {
  width: 22%;
  padding: 15px 24px;
}
.qalzy_app_features .card img {
}
.qalzy_app_features .card h2 {
  font-size: 34px;
}
@media (max-width: 1366px) {
  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
    display: flex;
    align-items: flex-end; /* Align images to the bottom */
  }

  .TotalCaloriesWrapper {
    display: flex;
    align-items: flex-end; /* Ensure the image stays at the bottom */
  }

  .TotalCaloriesMobileScreen {
    height: 600px; /* Adjust the height */
    width: auto;
    object-fit: contain;
  }

  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 428px;
    z-index: 1;
    height: 628px;
  }

  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 22%;
    padding: 15px 24px;
  }
  .qalzy_app_features .card img {
    width: 50px;
  }
  .qalzy_app_features .card h2 {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
    display: flex;
    align-items: flex-end; /* Align images to the bottom */
    gap: 10px;
  }

  .TotalCaloriesWrapper {
    display: flex;
    align-items: flex-end; /* Ensure the image stays at the bottom */
  }

  .TotalCaloriesMobileScreen {
    height: 453px; /* Adjust the height */
    width: auto;
    object-fit: contain;
  }

  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 360px;
    z-index: 1;
    height: 50%;
  }

  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 22%;
    padding: 10px 17px;
  }
  .qalzy_app_features .card img {
    width: 50px;
  }
  .qalzy_app_features .card h2 {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
    display: flex;
    align-items: flex-end; /* Align images to the bottom */
  }

  .TotalCaloriesWrapper {
    display: flex;
    align-items: flex-end; /* Ensure the image stays at the bottom */
  }

  .TotalCaloriesMobileScreen {
    height: 100%; /* Adjust the height */
    width: auto;
    object-fit: contain;
  }

  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 320px;
    z-index: 1;
    height: 50%;
  }

  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 24%;
    padding: 12px 20px;
  }
  .qalzy_app_features .card img {
    width: 42px;
  }
  .qalzy_app_features .card h2 {
    font-size: 16px;
    padding: 0px 2px;
  }
}
@media (max-width: 680px) {
  .TrackAnywhere_withQalzyApp_flexMobile {
    display: flex;
    align-items: flex-end; /* Align images to the bottom */
    gap: 10px;
  }

  .TotalCaloriesWrapper {
    display: flex;
    align-items: flex-end; /* Ensure the image stays at the bottom */
  }

  .TotalCaloriesMobileScreen {
    height: 300px; /* Adjust the height */
    width: auto;
    object-fit: contain;
  }
  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 38%;
    z-index: 1;
    height: 50%;
  }

  .qalzy_app_features .card {
    width: 24%;
    padding: 8px 11px;
  }

  .qalzy_app_features .card img {
    width: 38px;
  }
  .qalzy_app_features .card h2 {
    font-size: 14px;
    padding: 0px;
  }
}
@media (max-width: 425px) {
  .TrackAnywhere_withQalzyApp_flexMobile {
    display: flex;
    align-items: flex-end; /* Align images to the bottom */
    gap: 8px;
  }

  .TotalCaloriesWrapper {
    display: flex;
    align-items: flex-end; /* Ensure the image stays at the bottom */
  }

  .TotalCaloriesMobileScreen {
    height: 255px; /* Adjust the height */
    width: auto;
    object-fit: contain;
  }

  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
  }
  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 50%;
    z-index: 1;
    height: 50%;
  }

  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 30%;
    padding: 8px 10px;
  }
  .qalzy_app_features .card img {
    width: 35px;
  }
  .qalzy_app_features .card h2 {
    font-size: 13px;
    padding: 0px 2px;
  }
}
@media (max-width: 375px) {
  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
    display: flex;
    align-items: flex-end; /* Align images to the bottom */
    gap: 6px;
  }

  .TotalCaloriesWrapper {
    display: flex;
    align-items: flex-end; /* Ensure the image stays at the bottom */
  }

  .TotalCaloriesMobileScreen {
    height: 214px; /* Adjust the height */
    width: auto;
    object-fit: contain;
  }

  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 50%;
    z-index: 1;
    height: 50%;
  }

  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 31%;
    padding: 8px 10px;
  }
  .qalzy_app_features .card img {
    width: 30px;
  }
  .qalzy_app_features .card h2 {
    font-size: 12px;
    padding: 0px;
  }
}
