.TrackAnywhere_withQalzyApp {
  position: relative;
}
.TrackAnywhere_withQalzyApp_content {
  gap: 3px;
}
.TrackAnywhere_withQalzyApp_flexMobile {
}
.GirleScaningFoodImg {
  /* position: absolute; */
  width: 35%;
  z-index: 1;
}
.TotalCaloriesMobileScreen {
  position: relative;
  width: auto;
  z-index: 30;
}
.TrackAnyWhere_GreenBgImg {
  /* background-image: url("../../images/Frame 2147223146.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 33%;
  z-index: 0;
  right: 15%;
  bottom: 5%;
}
/* qalzy app feature styling */
.qalzy_app_features {
}
.qalzy_app_features .card {
  width: 22%;
  padding: 15px 24px;
}
.qalzy_app_features .card img {
}
.qalzy_app_features .card h2 {
  font-size: 34px;
}
@media (max-width: 1366px) {
  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
  }
  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 34%;
    z-index: 1;
    height: 50%;
  }
  .TotalCaloriesMobileScreen {
    position: relative;
    width: 29%;
    height: 30%;
    z-index: 2;
  }
  .TrackAnyWhere_GreenBgImg {
    /* background-image: url("../../images/Frame 2147223146.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 35%;
    z-index: 0;
    right: 12%;
    bottom: 5%;
  }
  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 22%;
    padding: 15px 24px;
  }
  .qalzy_app_features .card img {
    width: 50px;
  }
  .qalzy_app_features .card h2 {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
  }
  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 34%;
    z-index: 1;
    height: 50%;
  }
  .TotalCaloriesMobileScreen {
    position: relative;
    width: 29%;
    height: 30%;
    z-index: 2;
  }
  .TrackAnyWhere_GreenBgImg {
    /* background-image: url("../../images/Frame 2147223146.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 35%;
    z-index: 0;
    right: 12%;
    bottom: 6%;
  }
  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 22%;
    padding: 10px 17px;
  }
  .qalzy_app_features .card img {
    width: 50px;
  }
  .qalzy_app_features .card h2 {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
  }
  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 36%;
    z-index: 1;
    height: 50%;
  }
  .TotalCaloriesMobileScreen {
    position: relative;
    width: 31%;
    height: 30%;
    z-index: 2;
  }
  .TrackAnyWhere_GreenBgImg {
    /* background-image: url("../../images/Frame 2147223146.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 35%;
    z-index: 0;
    right: 12%;
    bottom: 7%;
  }
  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 24%;
    padding: 12px 20px;
  }
  .qalzy_app_features .card img {
    width: 42px;
  }
  .qalzy_app_features .card h2 {
    font-size: 16px;
    padding: 0px 2px;
  }
}
@media (max-width: 680px) {
  .qalzy_app_features .card {
    width: 24%;
    padding: 8px 11px;
  }
  .qalzy_app_features .card img {
    width: 38px;
  }
  .qalzy_app_features .card h2 {
    font-size: 14px;
    padding: 0px;
  }
}
@media (max-width: 425px) {
  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
  }
  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 42%;
    z-index: 1;
    height: 50%;
  }
  .TotalCaloriesMobileScreen {
    position: relative;
    width: 36%;
    height: 30%;
    z-index: 2;
  }
  .TrackAnyWhere_GreenBgImg {
    /* background-image: url("../../images/Frame 2147223146.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 45%;
    z-index: 0;
    right: 4%;
    bottom: 8%;
  }
  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 30%;
    padding: 8px 10px;
  }
  .qalzy_app_features .card img {
    width: 35px;
  }
  .qalzy_app_features .card h2 {
    font-size: 13px;
    padding: 0px 2px;
  }
}
@media (max-width: 375px) {
  .TrackAnywhere_withQalzyApp {
    position: relative;
  }
  .TrackAnywhere_withQalzyApp_content {
    gap: 3px;
  }
  .TrackAnywhere_withQalzyApp_flexMobile {
  }
  .GirleScaningFoodImg {
    /* position: absolute; */
    width: 48%;
    z-index: 1;
    height: 50%;
  }
  .TotalCaloriesMobileScreen {
    position: relative;
    width: 41%;
    height: 30%;
    z-index: 2;
  }
  .TrackAnyWhere_GreenBgImg {
    /* background-image: url("../../images/Frame 2147223146.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 46%;
    z-index: 0;
    right: 2%;
    bottom: 8%;
  }
  /* qalzy app feature styling */
  .qalzy_app_features {
  }
  .qalzy_app_features .card {
    width: 31%;
    padding: 8px 10px;
  }
  .qalzy_app_features .card img {
    width: 30px;
  }
  .qalzy_app_features .card h2 {
    font-size: 12px;
    padding: 0px;
  }
}
