.ReacYourGoalFaster {
  background-image: #ffffff !important;
  max-width: 1440px;
}
.whiteBGrandiant {
}
.ReachURGoalFaster_calorieConsume_Progress_card {
  position: relative;
  top: -8%;
  left: 2%;
  width: 275px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 1024px) {
  .ReacYourGoalFaster {
    background-image: #ffffff !important;
    max-width: 1024px;
  }
  .ReachURGoalFaster_calorieConsume_Progress_card {
    position: relative;
    top: -8%;
    left: 2%;
    width: 190px;
    height: 140px;
    border-radius: 15px;
    padding: 10px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
@media (max-width: 768px) {
  .ReacYourGoalFaster {
    background-image: #ffffff !important;
    max-width: 768px;
    /* height: 400px; */
  }
  .ReachURGoalFaster_calorieConsume_Progress_card {
    position: relative;
    top: -8%;
    left: 2%;
    width: 159px;
    height: 118px;
    border-radius: 10x;
    padding: 1px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .reachYourGoal_Mobilescreen {
  }
  .reachYourGoal_Mobilescreen img {
    width: 400px !important;
    height: 350px;
    /* background-color: aquamarine; */
    z-index: 1;
  }
}
@media (max-width: 460px) {
  .ReachURGoalFaster_calorieConsume_Progress_card {
    position: relative;
    top: -8%;
    left: 2%;
    width: 157px;
    height: 110px;
    border-radius: 10px;
    padding: 1px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .reachYourGoal_Mobilescreen {
    display: none;
    /* position: absolute; */
  }
  .reachYourGoal_Mobilescreen img {
    width: 100% !important;
    height: 300px;
    /* background-color: aquamarine; */
  }
}
